{
  "extends": ["airbnb-base"],
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "jest": true
  },
  "rules": {
    "no-console": "off",
    "linebreak-style": 0,
    "arrow-parens": ["error", "as-needed"],
    "import/no-dynamic-require": 0,
    "no-extend-native": "off",
    "class-methods-use-this": ["error", { "exceptMethods": ["getUniqueKey"] }],
    "object-curly-newline": 0
  }
}
